#Gorilla{
    width: 35rem;
    height: auto;
    border-radius: 10px;
}
#Col-two{
    padding-top: 100px;
}
/* Mobile phones (portrait) */
@media (max-width: 480px) {
    #Gorilla{
        width: 22rem;
    }
    #Col-two{
        width: 80%;
        padding-top: 30px;
    }
 }
 /* Mobile devices (landscape), small tablets */
 @media (max-width: 768px) {
    #Gorilla{
        width: 22rem;
    }
    #Col-two{
        width: 80%;
        padding-top: 30px;
    }
 }
/* Tablets (portrait) */
 @media (max-width: 992px) {
    #Gorilla{
        width: 24rem;
        margin-top: 90px;
    }
    #Col-two{
        width: 100%;
        padding-top: 30px;
    }
 }
 /* Small laptops / large tablets */
 @media (max-width: 1200px) {
    #Col-two{
        width: 100%;
        padding-top: 30px;
    }
 }
 /* Large desktops */
 @media (max-width: 1600px) {}
 /* Ultra-wide screens */
 @media (max-width: 1920px) {}





 
 
