/* Full-width black background for the entire section */
.about-section {
    background-color:  #070707f6;
    width: 100%;
    padding: 50px 0;
}

/* Image styling */
#Gorilla {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Column Two Padding */
#Col-two {
    padding-top: 20px;
    color: #ffffff;
}

/* Fade-in and fade-out animations */
.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 1s ease-in-out forwards;
}
.myline{
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(192, 192, 192, 0.911);
}
/* Responsive Adjustments */
@media (min-width: 768px) {
    #Gorilla {
        width: 100%;
    }
    #Col-two {
        padding-top: 0;
    }
}

@media (min-width: 992px) {
    #Gorilla {
        width: 90%;
    }
    #Col-two {
        padding-top: 30px;
    }
}

@media (min-width: 1200px) {
    #Gorilla {
        width: 35rem;
    }
}
