#Main{
    width: 100%;
    height: 100vh;
    background-image: url("../Image/Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.bg-body-tertiary {
    background-color: rgba(160, 188, 235, 0) !important;
    float: right;
}
.navbar-brand{
    margin-right: 130vh;
}
.nav-link{
    font-weight: 700;
    color: white;
}
#Content{
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    color: white;
}
#inner{
    width: 30%;
    text-align: center;
    color: white;
    font-weight: 700;
}

/* Responsive-Part */
@media (min-width: 200px) and (max-width: 900px){
    .navbar-brand{
        margin-right: 30vh;
    }
    #Row{
        display: none;
    }
    #inner{
        width: 90%;
        margin-bottom: 100px;
    }
}
@media (min-width: 700px) and (max-width: 1023px){
    .navbar-brand{
        margin-right: 60vh;
    }
}



